<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248400399327-t434chnj1fnb0g2jvbgckmfjid4dsnfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248400399327-t434chnj1fnb0g2jvbgckmfjid4dsnfd</string>
	<key>API_KEY</key>
	<string>AIzaSyAxrpEoSiCiaFJOWytdPvRVBZZigK961js</string>
	<key>GCM_SENDER_ID</key>
	<string>248400399327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>login</string>
	<key>PROJECT_ID</key>
	<string>login-b7dec</string>
	<key>STORAGE_BUCKET</key>
	<string>login-b7dec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248400399327:ios:ead70d979b7ced48d8d26a</string>
</dict>
</plist>